@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply bg-ink-950 text-text-primary font-sans antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/5 border border-stroke-500 backdrop-blur-xl;
  }
}
